## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Android SDK:
sdk.dir=/Users/YOUR_USERNAME/Library/Android/sdk

# Example for macOS:
# sdk.dir=/Users/yourname/Library/Android/sdk
#
# Example for Windows:
# sdk.dir=C\:\\Users\\YourName\\AppData\\Local\\Android\\Sdk
#
# Example for Linux:
# sdk.dir=/home/yourname/Android/Sdk
